<h3>List of instruments </h3>
<table class="table table-striped table-hover">
  <thead>
  <th>Id</th>
  <th>Name</th>
  <th class="text-right header-market-price"><span>Market Price</span></th>
  <th>Issuer</th>
  <th class="header-currency"><span>Currency</span></th>
  </thead>
  <tbody>
  <tr *ngFor="let instrument of instruments"
      [class.selected]="instrument === selectedInstrument"
      (click)="onSelect(instrument)">
    <td>{{instrument.id}}</td>
    <td>{{instrument.name}}</td>
    <td class="text-right">{{instrument.price | number:'1.2-2' }}</td>
    <td>{{instrument.issuer}}</td>
    <td>{{instrument.currency}}</td>
  </tr>
  </tbody>
</table>
