<!--<md-content layout="column" layout-gt-sm="row" layout-padding="" ng-cloak="" class="datepickerdemoCalendar" ng-app="MyApp">
    <div layout="column" flex-order="1" flex-order-gt-sm="0">
        <md-subheader>Start Date</md-subheader>
        <md-calendar ng-model="vm.startDate" md-min-date="vm.minDate" md-max-date="vm.maxDate"></md-calendar>
    </div>
    <div layout="column" flex-order="1" flex-order-gt-sm="1">
        <md-subheader>End Date</md-subheader>
        <md-calendar ng-model="vm.endDate" md-min-date="vm.minDate" md-max-date="vm.maxDate"></md-calendar>
    </div>
    <div layout="column" flex-order="0" flex-order-gt-sm="2">
        <md-subheader>Dates</md-subheader>
        <div>
            <label>Start</label>
            <div>{{vm.startDate | date:shortDate}}</div>
        </div>
        <div>
            <label>End</label>
            <div>{{vm.endDate | date:shortDate}}</div>
        </div>
        <div>
            {{vm.message}}
        </div>
    </div>

</md-content>-->

<md-content>
    <my-calendar></my-calendar>
</md-content>
