@media (min-width: 768px) {
  .col-lg-4,.col-md-4 {
    border-left: solid 1px lightgrey;
  }
}

@media (min-width: 681px) and (max-width: 767px) {
  .col-sm-6,.col-xs-6 {
    border-top: solid 1px lightgrey;
  }

  .p-4 {
    padding: 0.8rem !important;
  }
}

@media (max-width: 420px ) {
  .p-4 {
    padding: 0.2rem !important;
  }
}


