<!-- <md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>Angular Auth</span>
        </h2>

        <span flex></span>

        <md-button>Login</md-button>
        <md-button>Profile</md-button>
        <md-button>Logout</md-button>
    </div>
</md-toolbar> -->

<ul class="nav navbar-nav">
    <li >
        <a  
            id="login-link" 
            aria-label="Login"
            ng-click="toobar.login()">Log in</a>
    </li>
    <li >
        <a 
            id="logout-link"
            aria-label="Logout"
            ng-click="toolbar.logout()">Log out</a>
    </li>
</ul>