<div>
    <ul class="list-unstyled">
        <li>
            <div class="alert alert-info">

                <!--<b> <input ng-model="e.title"></b>-->
                <!--{{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}-->
                <div>
                    <b>Bowen Sui</b>
                </div>
                <span>00:00 - 08:00</span>
                <div>
                    <button>Book</button>
                    <button>Unbook</button>
                </div>
            </div>
        </li>

        <li>
            <div class="alert alert-info">

                <!--<b> <input ng-model="e.title"></b>-->
                <!--{{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}-->
                <div>
                    <b>Bowen Sui</b>
                </div>
                <span>00:00 - 08:00</span>
                <div>
                    <button>Book</button>
                    <button>Unbook</button>
                </div>
            </div>
        </li>

        <li>
            <div class="alert alert-info">

                <!--<b> <input ng-model="e.title"></b>-->
                <!--{{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}-->
                <div>
                    <b>Bowen Sui</b>
                </div>
                <span>00:00 - 08:00</span>
                <div>
                    <button>Book</button>
                    <button>Unbook</button>
                </div>
            </div>
        </li>
    </ul>

</div>