<div>
    <div>
        Slots for {{vm.selectedDate}}
    </div>
    <ul class="list-unstyled"
        ng-repeat="bookingSlot in vm.bookingSlots">
        <li>
            <div class="alert alert-info">

                <!--<b> <input ng-model="e.title"></b>-->
                <!--{{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}-->
                <div>
                    {{bookingSlot.title}}
                </div>
                <span>{{bookingSlot.startTime | date:"HH:mm"}} - {{bookingSlot.endTime | date:"HH:mm"}}</span>
                <div>
                    <button ng-if="vm.canBook(bookingSlot)" ng-click="vm.book(bookingSlot)">Book</button>
                    <button ng-if="vm.canUnbook(bookingSlot)" ng-click="vm.unbook(bookingSlot)">Unbook</button>
                </div>
            </div>
        </li>
    </ul>

</div>