@media (max-width: 420px) {
  .sm-hide {
    display: none;
  }

  .header-market-price span {
    display: none;
  }

  .header-market-price:after {
    content: "Mkt. Price"
  }

  .header-quantity span{
    display: none;
  }

  .header-quantity:after {
    content: "Qty.";
  }

  .header-direction span{
    display: none;
  }

  .header-direction:after {
    content: "Dir.";
  }

  .p-4 {
    padding: 0.2rem !important;
  }

  table.table td, table.table th {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}


